
.grid-container {
  display: grid;
  gap: 1px;
  justify-content: center;
  margin: 5vh;
}

.grid-child {
  background-color: grey;
  height: 5vw;
  width: 5vw;
  max-width: 40px;
  max-height: 40px;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-align: center;
}